@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;800&display=swap');
:root {
    --accents: #e1a0b1;
    --basicColor: #333;
    --transition: .4s ease;
    --padding: 70px 0;
    --white: #fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
}
h1,h2,h3,h4,h5 {
    font-weight: 400;
}
h2 {
    letter-spacing: 1px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--basicColor);
}
a:hover {
    color: var(--accents);
    transition: var(--transition);
}
.container {
    width: 80%;
    margin: auto;
}
button {
    padding: 15px 30px;
    background: var(--accents);
    border-radius: 30px;
    border: none;
    font-size: 1.2rem;
    color: var(--white);
    letter-spacing: 2px;
    margin-top: 30px;
}
button:hover {
    background: var(--basicColor);
    cursor: pointer;
    transition: var(--transition);
}
/*********************
nav 
*********************/
header {
    background-image: url(img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
nav {
    display: flex;
    align-items: center;
    padding: 0 50px;
    padding-top: 10px;
}
nav .logo  {
    flex: 5;
}
nav img {
    width: 150px;
    height: auto;
}
nav ul {
    flex: 7;
    display: flex;
    justify-content: space-evenly;
}
nav .icons {
    flex: 1;
    color: var(--accents);
}
nav .icons i {
    color: var(--accents);
}
nav .icons i:hover {
    color: var(--basicColor);
    transition: var(--transition);
}
/*********************
header
*********************/
header section {
    display: flex;
}
header section img {
    width: 80%;
}
header section article {
    flex: 1;
}
header section article:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header section article:first-child h1 {
    font-size: 3rem;
}
header section article:first-child p {
    font-size: 1.3rem;
}
header section article:last-child {
    display: flex;
    justify-content: flex-end;
}
/*********************
o nama
*********************/
.onama {
    display: flex;
    padding: var(--padding);
    align-items: center;
}
.onama article:first-child {
    background-image: url(img/onama.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.onama article {
    flex: 1;
}
.onama article:last-child {
    padding: 50px;
}
.onama h4 {
    color: var(--accents);
    font-size: 1.4rem;
    text-transform: uppercase;
}
.onama h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}